<!-- About -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].about.title | default: "About Us" }}</h2>
        <h3 class="section-subheading text-muted" style="margin-bottom:30px">{{ site.data.sitetext[site.locale].about.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">{{ site.data.sitetext[site.locale].about.body | markdownify }} </div>
      </div>
      <br>
      <div class="col-lg-12 mx-auto text-center">
        <div class="w3-third" style="padding:10px;background-color:lighten(#b0beb0, 10%);">
          <div class="w3-card w3-container" style="min-height:460px;border-radius: 20px;">
          <h3 style="padding-top:20px">Thoughtful Design</h3><br>
          <i class="fas fa-check-circle w3-margin-bottom w3-text-theme" style="font-size:60px"></i>
          <p>Work within Your Frameworks</p>
          <p>Seamless Integrations</p>
          <p>Future-proofing for Growth</p>
          <p>Delivering On-Time</p>
          </div>
        </div>
        
        <div class="w3-third" style="padding:10px">
          <div class="w3-card w3-container" style="min-height:460px;border-radius: 20px">
          <h3 style="padding-top:20px">Transparent Building</h3><br>
          <i class="fas fa-check-circle w3-margin-bottom w3-text-theme" style="font-size:60px;"></i>
          <p>Comprehensive Requirements</p>
          <p>No Last-Minute Changes</p>
          <p>Building Right the First Time</p>
          <p>Exhaustive Documentation</p>
          </div>
        </div>
        
        <div class="w3-third" style="padding:10px">
          <div class="w3-card w3-container" style="min-height:460px;border-radius: 20px;">
          <h3 style="padding-top:20px">Guaranteed Support</h3><br>
          <i class="fas fa-check-circle w3-margin-bottom w3-text-theme" style="font-size:60px"></i>
          <p>Industry Expertise</p>
          <p>Quick Response Times</p>
          <p>Ensure Usablity is Delivery</p>
          <p>Support Adoption and Maintenance</p>
          </div>
        </div>      
      </div>   
    </div>
  </div>
</section>
{% else %}
<section class="page-section" id="{{ site.data.sitetext.about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.about.title | default: "About Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.about.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">{{ site.data.sitetext.about.body | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- End About -->