<!-- About -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].about.title | default: "About Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].about.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">{{ site.data.sitetext[site.locale].about.body | markdownify }}
        </div>
      </div>

      <div class="w3-row-padding w3-center w3-margin-top">
        <div class="w3-third">
          <div class="w3-card w3-container" style="min-height:460px">
          <h3>Responsive</h3><br>
          <i class="fa fa-desktop w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
          <p>Built-in responsiveness</p>
          <p>Mobile first fluid grid</p>
          <p>Fits any screen sizes</p>
          <p>PC Tablet and Mobile</p>
          </div>
        </div>
        
        <div class="w3-third">
          <div class="w3-card w3-container" style="min-height:460px">
          <h3>Standard CSS</h3><br>
          <i class="fa fa-css3 w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
          <p>Standard CSS only</p>
          <p>Easy to learn</p>
          <p>No need for jQuery</p>
          <p>No JavaScript library</p>
          </div>
        </div>
        
        <div class="w3-third">
          <div class="w3-card w3-container" style="min-height:460px">
          <h3>Design</h3><br>
          <i class="fa fa-diamond w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
          <p>Paper like design</p>
          <p>Bold colors and shadows</p>
          <p>Equal across platforms</p>
          <p>Equal across devices</p>
          </div>
        </div>

    </div>
  </div>
</section>
{% else %}
<section class="page-section" id="{{ site.data.sitetext.about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.about.title | default: "About Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.about.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">{{ site.data.sitetext.about.body | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- End About -->